<div class="login-dark">
  <form [formGroup]="registrationForm" (submit)="postDataForRegistration()">

    <div
      [ngClass]="(registrationForm.controls.username.invalid) ? 'error' : 'form-group' ">
      <label for="username"> UserName </label>
      <br/>
      <input id="username" class="form-control" type="text" formControlName="username"
             placeholder="UserName">
    </div>

    <br/>


    <div
      [ngClass]="(registrationForm.controls.email.invalid) ? 'error' : 'form-group' ">
      <label for="email"> Email </label>
      <br/>
      <input id="email" class="form-control" type="email" formControlName="email" placeholder=" Email">
    </div>

    <br/>

    <div
        [ngClass]="(registrationForm.controls.password.invalid) ? 'error' : 'form-group' ">
      <label for="password"> Password </label>
      <br/>
      <input id="password" class="form-control" type="password" formControlName="password" placeholder="Password">
    </div>

    <br/>

    <div
      [ngClass]="registrationForm.controls.password.touched && (registrationForm.controls.password.value != registrationForm.controls.rPassword.value
              || registrationForm.controls.password.invalid || registrationForm.controls.rPassword .invalid) ? 'error' : 'form-group' ">

    <label for="rPassword">Repeat password </label>
      <br/>
      <input id="rPassword" class="form-control" type="password" formControlName="rPassword"
             placeholder="Repeat password">
    </div>


    <br/>
    <div class="form-group">
      <button [disabled]="registrationForm.invalid " class="btn btn-primary btn-block" type="submit">Sign Up</button>
    </div>
    <br/>
<!--    <a (click)="navigate()" class="forgot cursor">Forgot your email or password?</a>-->


<!--    <div>-->
<!--      Password: {{registrationForm.controls.password.value |json}}-->
<!--      <br/>-->

<!--      DPassword: {{registrationForm.controls.rPassword.value |json}}-->
<!--      <br/>-->
<!--      Boolean: {{registrationForm.controls.rPassword.value!= registrationForm.controls.password.value}}-->
<!--    </div>-->




    <!--    <div-->
    <!--      [ngClass]="(registrationForm.controls.mail.invalid) ? 'error' : 'form-group' ">-->
    <!--      <input class="form-control" type="text" formControlName="mail" placeholder="Email">-->
    <!--    </div>-->

    <!--    <div-->
    <!--      [ngClass]="(registrationForm.controls.password.invalid) ? 'error' : 'form-group' ">-->
    <!--      <input class="form-control" type="password" formControlName="password"-->
    <!--             placeholder="Password">-->
    <!--    </div>-->

    <!--        <div-->
    <!--          [ngClass] ="registrationForm.controls.password.touched && (registrationForm.controls.password.value != registrationForma.controls.duplicate_password.value-->
    <!--          || registrationForm.controls.password.invalid || registrationForm.controls.duplicate_password.invalid) ? 'error' : 'form-group' ">-->

    <!--          <input class="form-control" type="password" formControlName="duplicate_password"-->
    <!--                 placeholder="Dublicate password">-->
    <!--        </div>-->

    <!--    <div-->
    <!--      [ngClass]="(registrationForm.controls.name_surname.invalid) ? 'error' : 'form-group' ">-->
    <!--      <input class="form-control" type="text" formControlName="name_surname"-->
    <!--             placeholder="Name and Surname">-->
    <!--    </div>-->

    <!--    <div-->
    <!--      [ngClass]="(registrationForm.controls.age.invalid) ? 'error' : 'form-group' ">-->
    <!--      <input class="form-control" type="text" formControlName="age"-->
    <!--             placeholder="Age">-->
    <!--    </div>-->

    <!--    <div>-->
    <!--      <div class="select mt-2 ml-3 lightSilver opacity09">-->
    <!--        <label class="lighter mr-2">Sex </label>-->
    <!--        <select formControlName="sex">-->
    <!--          <option >Man</option>-->
    <!--          <option>Woman ❤️‍</option>-->
    <!--        </select>-->
    <!--      </div>-->
    <!--    </div>-->

  </form>
</div>
