<div class="account-info">
  <div class="content-title">Account Security Settings</div>
  <div class="account-info-container">
    <p class="account-info-item">
      <span class="account-info-label">Username</span>
      <span class="account-info-value">Change User Name</span>
    </p>
    <p class="account-info-item">
      <span class="account-info-label">Password</span>
      <span class="account-info-value">Change password</span>
    </p>
    <p class="account-info-item">
      <span class="account-info-label">Mobile</span>
      <span class="account-info-value">Change Mobile Number</span>
    </p>
    <p class="account-info-item">
      <span class="account-info-label">Email</span>
      <span class="account-info-value">Change Email</span>
    </p>
  </div>
</div>



<!--<div class="account-info">-->
<!--  <div class="content-title">Account Security Settings</div>-->
<!--  <div class="account-info-container">-->
<!--    <p class="account-info-item">-->
<!--      <span class="account-info-label">Username</span>-->
<!--      <span class="account-info-value">Cool User Name</span>-->
<!--    </p>-->
<!--    <p class="account-info-item">-->
<!--      <span class="account-info-label">User ID</span>-->
<!--      <span class="account-info-value">69674716</span>-->
<!--    </p>-->
<!--    <p class="account-info-item">-->
<!--      <span class="account-info-label">Mobile</span>-->
<!--      <span class="account-info-value">069574738</span>-->
<!--    </p>-->
<!--    <p class="account-info-item">-->
<!--      <span class="account-info-label">Email</span>-->
<!--      <span class="account-info-value">coolbestemail@gmail.com</span>-->
<!--    </p>-->
<!--  </div>-->
<!--</div>-->
