.FilBlock{
  text-align: center;
  /*flex-direction: row;*/
  padding: 2% 0 5% 0;
  margin-bottom: 5%;
  background-color: #2e2d39;
}


.SortBlock{
  text-align: center;
  /*flex-direction: row;*/
  padding-top: 10px;
  background-color: #2e2d39;
  margin-bottom: 3%;
  color: #cecece;
}



.labelFil{
  padding: 2% 0 3% 10%;
  text-align: left;
  color: white
}


/*Товщина та колір шкали*/
::ng-deep .custom-slider .ng5-slider .ng5-slider-bar {
  background: #ffe4d1;
  height: 2px;
}
/*Колір шкали*/
::ng-deep  .custom-slider .ng5-slider .ng5-slider-selection {
  background: orange;
}

/*Повзунки*/
::ng-deep  .custom-slider .ng5-slider .ng5-slider-pointer {
  width: 8px;
  height: 16px;
  top: auto; /* to remove the default positioning */
  bottom: 0;
  background-color: #333333;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
::ng-deep .custom-slider .ng5-slider .ng5-slider-pointer:after {
  display: none;
}

/*Всі цифри */
::ng-deep .custom-slider .ng5-slider .ng5-slider-bubble {
  bottom: 14px;
}
/*Перше та останнє число*/
::ng-deep .custom-slider .ng5-slider .ng5-slider-limit {
  font-weight: bold;
  color: #ffffff !important;
}
/*Поділка*/
::ng-deep .custom-slider .ng5-slider .ng5-slider-tick {
  width: 1px;
  height: 10px;
  margin-left: 4px;
  border-radius: 0;
  background: #ffe4d1;
  top: -1px;
}
/*Колір поділок шкали*/
::ng-deep .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
  background: #000000;
}
.DirtyWhite {
  color: #dcdcdc;
  z-index: 100;
}

.custom-slider{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.custom-slider .style{
  width: 80%;
}
.custom-slider .price{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.custom-slider input{
  border-radius: 10%;
  height: 25px;
  width: 15%;
}

.example-section {
  text-align: left;
  margin: 12px 0 12px 12px;
  color: #cecece;


}

.example-margin {
  margin: 0 12px;
}
.example-list-section{
  display: block;
}

ul {
  list-style-type: none;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  margin-bottom: 0;
}

.mat-raised-button{
  background: #1f1c25;
  color: white;
  padding: 0;
  margin: 0;
}

h3{
  color: white;
  margin: 0;
  padding: 2% 0 3% 0
}
