<!--<div [ngClass]="'product'">-->
<!--  <div class="info">-->
<!--    <div>-->
<!--      <img src="../../../../favicon.ico" alt="favi" width="500"-->
<!--           height="500">-->
<!--    </div>-->

<!--    <div class="desc">-->
<!--      <h2>Bot name</h2>-->
<!--      <p>-->
<!--        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid amet cum dicta, distinctio, dolor-->
<!--        dolorum eligendi error eum ex in laborum, nam necessitatibus placeat quas repellendus sed sit soluta unde-->
<!--        voluptatem? Accusamus dolorem dolores eum modi molestiae necessitatibus, obcaecati repellat voluptas-->
<!--        voluptatibus?-->
<!--        Amet beatae debitis deserunt doloremque est explicabo praesentium reiciendis saepe unde voluptates?-->
<!--        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid amet cum dicta, distinctio, dolor-->
<!--        dolorum eligendi error eum ex in laborum, nam necessitatibus placeat quas repellendus sed sit soluta unde-->
<!--        voluptatem? Accusamus dolorem dolores eum modi molestiae necessitatibus, obcaecati repellat voluptas-->
<!--        voluptatibus?-->
<!--        Amet beatae debitis deserunt doloremque est explicabo praesentium reiciendis saepe unde voluptates?-->
<!--        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid amet cum dicta, distinctio, dolor-->
<!--        dolorum eligendi error eum ex in laborum, nam necessitatibus placeat quas repellendus sed sit soluta unde-->
<!--        voluptatem? Accusamus dolorem dolores eum modi molestiae necessitatibus, obcaecati repellat voluptas-->
<!--        voluptatibus?-->
<!--        Amet beatae debitis deserunt doloremque est explicabo praesentium reiciendis saepe unde voluptates?-->
<!--        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid amet cum dicta, distinctio, dolor-->
<!--        dolorum eligendi error eum ex in laborum, nam necessitatibus placeat quas repellendus sed sit soluta unde-->
<!--        voluptatem? Accusamus dolorem dolores eum modi molestiae necessitatibus, obcaecati repellat voluptas-->
<!--        voluptatibus?-->
<!--        Amet beatae debitis deserunt doloremque est explicabo praesentium reiciendis saepe unde voluptates?-->
<!--      </p>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="comments">-->
<!--    <h2>Comments</h2>-->
<!--  </div>-->
<!--</div>-->

<div class="flex">
  <div class="Post">
    <div class="mainPost">
      <!--    Коротка інфа про бота назва картинка кількість скачувань-->
      <div [ngClass]="'shortPostInfo'">
        <div class="imageNameInfo">
          <img class="BotIcon" src="./assets/Images/BotIcon.png">
          <div class="botName">Cool Bot Name</div>
        </div>
        <div class="rating">
          <div class="DirtyWhite">buys count</div>
          <div class="DirtyWhite">rating stars</div>
          <div class="DirtyWhite">reviews count</div>
        </div>
      </div>
      <!--    Закінчення короткої інфи про бота-->
      <!--    -->
      <!--    ====================================================================================================================-->
      <!--    -->
      <!--    Основна інфа про бота\ команди\ асети\ в основному тільки текст\-->
      <div [ngClass]="'longPostInfo'">
        <p class="DirtyWhite">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid amet cum dicta, distinctio, dolor
          dolorum eligendi error eum ex in laborum, nam necessitatibus placeat quas repellendus sed sit soluta unde
          voluptatem? Accusamus dolorem dolores eum modi molestiae necessitatibus, obcaecati repellat voluptas
          voluptatibus?<br><br>
          comands: <br>
          /help <br>
          /find <br>
          /check <br>
          /attack<br><br>
          Amet beatae debitis deserunt doloremque est explicabo praesentium reiciendis saepe unde voluptates?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid amet cum dicta, distinctio, dolor
          dolorum eligendi error eum ex in laborum, nam necessitatibus placeat quas repellendus sed sit soluta unde
          voluptatem? Accusamus dolorem dolores eum modi molestiae necessitatibus, obcaecati repellat voluptas
          voluptatibus?
          <br><br>
          Contributors:<br>
          Avilen<br>
          Shathu<br>
          Sangis<br>
          Susnort<br>
          <br><br>
          Amet beatae debitis deserunt doloremque est explicabo praesentium reiciendis saepe unde voluptates?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid amet cum dicta, distinctio, dolor
          dolorum eligendi error eum ex in laborum, nam necessitatibus placeat quas repellendus sed sit soluta unde
          voluptatem? Accusamus dolorem dolores eum modi molestiae necessitatibus, obcaecati repellat voluptas
          voluptatibus?
          <br><br>
          Amet beatae debitis deserunt doloremque est explicabo praesentium reiciendis saepe unde voluptates?
        </p>
      </div>
      <!--    Закінчення основної інфи про бота-->
      <!--    -->
      <!--    ====================================================================================================================-->
      <!--    -->
      <!--    Блок де можна глянути відгуки і залищити свій-->
      <div [ngClass]="'userReviews'">
        <div class="UserReviews">
          <p class="Blue FontLarge">User Reviews</p>
          <div class="Total">
            <div class="FontLarge marginLeft DirtyWhite">4/5</div>
            <div class="marginLeft DirtyWhite">
              <span class="fa fa-star Blue"></span>
              <span class="fa fa-star Blue"></span>
              <span class="fa fa-star Blue"></span>
              <span class="fa fa-star Blue"></span>
              <span class="fa fa-star "></span>
            </div>
            <div class="FontLarge marginLeft DirtyWhite">Based on "count" User reviews</div>
          </div>


<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Select</mat-label>-->
<!--            <mat-select>-->
<!--              <mat-option value="one">First option</mat-option>-->
<!--              <mat-option value="two">Second option</mat-option>-->
<!--            </mat-select>-->
<!--          </mat-form-field>-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Textarea</mat-label>-->
<!--            <textarea matInput></textarea>-->
<!--          </mat-form-field>-->
<!--          <div></div>-->
          <form class="ReviewForm">
            <h4 class="FontMedium Blue">Leave your Comment below</h4>
            <div class="formArea">
            <mat-form-field appearance="fill" class="StarsSelector DirtyWhite">
              <mat-label class="DirtyWhite">Choose Rating Stars</mat-label>
              <mat-select  class="DirtyWhite">
                <mat-option *ngFor="let star of stars" [value]="star.value" >
                  {{star.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <textarea class="TextArea FontLarger"></textarea>
              <div class="width">
                <a href="" class="sliding-button">Send</a>
              </div>

            </div>

          </form>
<!--          -->
<!--          -->
<!--          -->
<!--         =============================================================================================================== -->
<!--          -->
<!--         Початок. Блочок з коментом під постом-->
          <div class="UserBlockInfo">
            <div class="nameImgInfo">
              <img src="assets/Images/BotIcon1.png" class="UserIcon">
              <div class="FlexName">
                <div class="FontLarge Blue">Cool User Name</div>
                <div class="">
                  <span class="fa fa-star Blue"></span>
                  <span class="fa fa-star Blue"></span>
                  <span class="fa fa-star Blue"></span>
                  <span class="fa fa-star Blue"></span>
                  <span class="fa fa-star DirtyWhite"></span>
                </div>
              </div>
            </div>
            <div class="Commend FontMedium DirtyWhite">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto ipsum iste magnam
                maiores porro repellat sunt, ullam! A dolorum explicabo impedit nemo repellendus saepe sit voluptates?
                Aut commodi, eius!</p>
            </div>

          </div>
<!--          Кінець. Блочок з коментом юзера під постом-->
<!--          -->
          <!--         Початок. Блочок з коментом під постом-->
          <div class="UserBlockInfo">
            <div class="nameImgInfo">
              <img src="assets/Images/BotIcon1.png" class="UserIcon">
              <div class="FlexName">
                <div class="FontLarge">Cool User Name</div>
                <div class="">
                  <span class="fa fa-star Blue"></span>
                  <span class="fa fa-star Blue"></span>
                  <span class="fa fa-star Blue"></span>
                  <span class="fa fa-star Blue"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
            </div>
            <div class="Commend FontMedium">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto ipsum iste magnam
                maiores porro repellat sunt, ullam! A dolorum explicabo impedit nemo repellendus saepe sit voluptates?
                Aut commodi, eius!</p>
            </div>

          </div>
          <!--          Кінець. Блочок з коментом юзера під постом-->
          <!--          -->
          <!--          -->
<!--          ====================================================================================================================-->
<!--          -->
<!--          -->
          <div></div>
        </div>
      </div>
    </div>
    <div class="buyCreatorsInfo">
      <div class="buyVote">

        <a href="" class="sliding-button">Buy</a>
        <a href="" class="sliding-button">Reviews</a>

      </div>
      <div><p class="FontLarge Blue">Tags</p>
        <div class="tags">
          <p class="Tag DirtyWhite">Mascarpone</p>
          <p class="Tag DirtyWhite">Carrot</p>
          <p class="Tag DirtyWhite">Onion</p>
        </div>
      </div>
      <div><p class="FontLarge Blue">Creators</p>
        <div class="Creators">
          <div class="Creator DirtyWhite">SmartSub Team</div>
          <div class="Creator DirtyWhite">Onion Team</div>
        </div>
      </div>
      <div class="marginTop"><p class="FontLarge Blue">Support</p>
        <div class="Support">
          <div class="SupportTag"><a href="" class="DirtyWhite">Get Support</a></div>
          <div class="SupportTag"><a href="" class="Red">Report</a></div>
          <div class="SupportTag"><a href="" class="Red">Issue</a></div>
        </div>
      </div>

    </div>
  </div>

</div>
