#header {
  display: flex;
  justify-content: space-between;
  color: #e6f4fd;
}

.headerButtons {
  display: flex;
  justify-content: space-around;
}

.buttonHead {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  width: 170px;
  margin-left: 20px;
  margin-right: 20px;
}

.buttonHead1 {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 54px;
  width: 170px;
  margin-left: 20px;
  margin-right: 20px;
}

.LandingButton {
  margin-top: 30px;
  height: 60px;
  width: 270px;
  background-color: #54c3b7;
  border: 2px solid #e6f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.land {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 720px;
  height: 100%;
}

.landpud {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: space-between;*/
  /*align-content: space-between;*/
}

/*.img{*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/


.Menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*width: 100%;*/
  /*margin-right: 30px;*/
  /*margin-left: 30px;*/
  /*min-height: 40px;*/
  /*height: 10%;*/

}

.MenuElement1 {
  display: flex;
  flex-direction: row;
  justify-content:  flex-start;
  width: 100%;
  /*background-color: #70c;*/
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 10px;
}
.Logo{
  display: flex;
  justify-content: center;
  align-items: center;

}

.MenuElement2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /*background-color: #9d959d;*/

}

.SearchBlock {
  display: flex;
  justify-content: center;
  width: 100%;
}

.SearchElement {
  width: 75%;
  /*background-color: orange;*/
  font-size: 24px;
  margin-right: 10px;
  color: #70cdc3;
}

.Bell {
  display: flex;
  width: 80px;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.Cart {
  display: flex;
  width: 80px;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.Auth {
  display: flex;
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  color: white;
}
