<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--Тут імпорт з сайту для іконок їх куда його ше приставити.
якзо є варік де його можна ше імпортнути крім html то напиши-->

<!--також виникла проблема з уольором шрифтів не можу поняти як поміняти по нормальному ше гляну но це жесть трохи-->



<!--<ul>-->
<!--  <li>-->
<!--    <a [routerLink]="'registration'">registration</a>-->
<!--  </li>-->
<!--</ul>-->
<!--<div id="header">-->
<!--  <div class="headerButtons">-->
<!--    <div class="buttonHead1"><img style="width: 40px; height: 40px" src="../../../assets/Images/LOGO.png">SmartSub</div>-->
<!--    <div class="buttonHead">Search</div>-->
<!--  </div>-->
<!--  <div class="headerButtons">-->
<!--    <div class="buttonHead">Notifications</div>-->
<!--    <div class="buttonHead">Shop Cart</div>-->
<!--    <div class="buttonHead">Profile</div>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="land">-->
<!--  <div class="landpud"><span>-->
<!--  <img class="img" style="height: 130px; width: 150px" src="../../../assets/Images/landingLOGO.png">-->
<!--  </span>-->
<!--  <div class="LandingButton">Start</div>-->
<!--</div>-->
<!--</div>-->

<router-outlet></router-outlet>


<div class="AdsWidjets">
  <div class="widget">
    <img src="assets/Images/Block.png" class="image">
    <div class="overlay">Title</div>
  </div>
  <div>
    <img src="assets/Images/Block.png">
  </div>
  <div>
    <img src="assets/Images/Block.png">
  </div>
  <div>
    <img src="assets/Images/Block.png">
  </div>
  <div>
    <img src="assets/Images/Block.png">
  </div>
  <div>
    <img src="assets/Images/Block.png">
  </div>
  <div>
    <img src="assets/Images/Block.png">
  </div>

</div>
<!--тут початок з списками ботів (добавити категорії просто) копійнути класи з назвами First Second і тд
Єдине трабл з кольором змінити колір шрифта -->
<mat-tab-group mat-align-tabs="center" animationDuration="0ms" class="mat-tabs-main">
  <!--  FIRST ============================================================================================================================================================-->
  <mat-tab label="First">
    <div class="First">
      <div class="FilBotBlock">
        <!--          Bot Label block-->
        <div class="BotsLabel">
          <img src="assets/Images/IconBot.png">
          <div class="wrap">
            <div class="flex">
              <p>Bot Name</p>
              <div class="rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
            <p>Тут опис в пару слів про функціонал ось не буду багато писати</p>
          </div>
          <p class="BuyBttn">BUY</p>
        </div>
        <!--    End Bot Label Block-->
        <!--          Bot Label block-->
        <div class="BotsLabel">
          <img src="assets/Images/IconBot.png">
          <div class="wrap">
            <div class="flex">
              <p>Bot Name</p>
              <div class="rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
            <p>Тут опис в пару слів про функціонал ось не буду багато писати</p>
          </div>
          <p class="BuyBttn">BUY</p>
        </div>
        <!--    End Bot Label Block-->
        <!--          Bot Label block-->
        <div class="BotsLabel">
          <img src="assets/Images/IconBot.png">
          <div class="wrap">
            <div class="flex">
              <p>Bot Name</p>
              <div class="rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
            <p>Тут опис в пару слів про функціонал ось не буду багато писати</p>
          </div>
          <p class="BuyBttn">BUY</p>
        </div>
        <!--    End Bot Label Block-->
      </div>
      <div class="FilBlock">
          <div>
            <!--          ================================================-->
            <h4>select</h4>
            <mat-form-field appearance="fill">
              <mat-label>Filter</mat-label>
              <mat-select>
                <mat-option>None</mat-option>
                <mat-option *ngFor="let filter of filters" [value]="filter">{{filter}}</mat-option>
              </mat-select>
            </mat-form-field>
            <!--          =======================================================-->
            <!--          ================================================-->
            <h4>select</h4>
            <mat-form-field appearance="fill">
              <mat-label>Filter</mat-label>
              <mat-select>
                <mat-option>None</mat-option>
                <mat-option *ngFor="let filter of filters" [value]="filter">{{filter}}</mat-option>
              </mat-select>
            </mat-form-field>
            <!--          =======================================================-->
            <!--          ================================================-->
            <h4>select</h4>
            <mat-form-field appearance="fill">
              <mat-label>Filter</mat-label>
              <mat-select>
                <mat-option>None</mat-option>
                <mat-option *ngFor="let filter of filters" [value]="filter">{{filter}}</mat-option>
              </mat-select>
            </mat-form-field>
            <!--          =======================================================-->
          </div>
      </div>
    </div>
  </mat-tab>
  <!--  SECOND ========================================================================================================================================================-->
  <mat-tab label="Second">
    <div class="Second"><!--          Bot Label block-->
      <div class="BotsLabel">
        <img src="assets/Images/IconBot.png">
        <div class="wrap">
          <div class="flex">
            <p>Bot Name</p>
            <div class="rating">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
          <p>Тут опис в пару слів про функціонал ось не буду багато писати</p>
        </div>
        <p class="BuyBttn">BUY</p>
      </div>
      <!--    End Bot Label Block-->
      <!--          Bot Label block-->
      <div class="BotsLabel">
        <img src="assets/Images/IconBot.png">
        <div class="wrap">
          <div class="flex">
            <p>Bot Name</p>
            <div class="rating">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
          <p>Тут опис в пару слів про функціонал ось не буду багато писати</p>
        </div>
        <p class="BuyBttn">BUY</p>
      </div>
      <!--    End Bot Label Block-->
      <!--          Bot Label block-->
      <div class="BotsLabel">
        <img src="assets/Images/IconBot.png">
        <div class="wrap">
          <div class="flex">
            <p>Bot Name</p>
            <div class="rating">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
          <p>Тут опис в пару слів про функціонал ось не буду багато писати</p>
        </div>
        <p class="BuyBttn">BUY</p>
      </div>
      <!--    End Bot Label Block--></div>
  </mat-tab>
  <mat-tab label="Third" class="Third">
    <div class="Third">
      <!--          Bot Label block-->
      <div class="BotsLabel">
        <img src="assets/Images/IconBot.png">
        <div class="wrap">
          <div class="flex">
            <p>Bot Name</p>
            <div class="rating">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
          <p>Тут опис в пару слів про функціонал ось не буду багато писати</p>
        </div>
        <p class="BuyBttn">BUY</p>
      </div>
      <!--    End Bot Label Block-->
      <!--          Bot Label block-->
      <div class="BotsLabel">
        <img src="assets/Images/IconBot.png">
        <div class="wrap">
          <div class="flex">
            <p>Bot Name</p>
            <div class="rating">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
          <p>Тут опис в пару слів про функціонал ось не буду багато писати</p>
        </div>
        <p class="BuyBttn">BUY</p>
      </div>
      <!--    End Bot Label Block-->
    </div>
  </mat-tab>
</mat-tab-group>


