
<!--також виникла проблема з уольором шрифтів не можу поняти як поміняти по нормальному ше гляну но це жесть трохи-->


<!--todo Landing-->

<!--<ul>-->
<!--  <li>-->
<!--    <a [routerLink]="'registration'">registration</a>-->
<!--  </li>-->
<!--</ul>-->
<!--<div id="header">-->
<!--  <div class="headerButtons">-->
<!--    <div class="buttonHead1"><img style="width: 40px; height: 40px" src="../../../assets/Images/LOGO.png">SmartSub</div>-->
<!--    <div class="buttonHead">Search</div>-->
<!--  </div>-->
<!--  <div class="headerButtons">-->
<!--    <div class="buttonHead">Notifications</div>-->
<!--    <div class="buttonHead">Shop Cart</div>-->
<!--    <div class="buttonHead">Profile</div>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="land">-->
<!--  <div class="landpud"><span>-->
<!--  <img class="img" style="height: 130px; width: 150px" src="../../../assets/Images/landingLOGO.png">-->
<!--  </span>-->
<!--  <div class="LandingButton">Start</div>-->
<!--</div>-->
<!--</div>-->

<!--Тут починається менюшка -->
<div class="Menu">
  <!--  сам класс меню в якому все знаходиться-->
  <div class="MenuElement1">
    <div class="Logo" routerLink="/">
      <!--      всі картинки зберігаються в асетах -->
      <img src="assets/Images/LOGO1.png">

    </div>
    <div class="SearchBlock">
      <input class="SearchElement" type="text" placeholder="Search...">
    </div>
    <!--  <label color="#ffffff" for="username">Username</label>-->
  </div>
  <div class="MenuElement2">
    <div class="Bell">
      <mat-icon matBadge="15" matBadgeColor="warn">
        <img src="assets/Images/Bell.png">
      </mat-icon>

    </div>
    <!-- #enddocregion mat-badge-color -->
    <!-- Include text description of the icon's meaning for screen-readers -->
    <span class="cdk-visually-hidden">
      Example with a home icon with overlaid badge showing the number 15
    </span>
    <div class="Cart">
      <mat-icon matBadge="2" matBadgeColor="warn">
        <img src="assets/Images/Cart.png">
      </mat-icon>
    </div>
    <div class="Auth">
      <a (click)="navigate('login')">Login</a>
      <span> / </span>
      <a (click)="navigate('registration')">Register</a>
    </div>
    <!--    <div class="Join"><a>Join</a>-->
    <!--      <p> | </p><a>Login</a></div>-->
  </div>
</div>
<!--кінець меню-->
<router-outlet></router-outlet>





