<div class="Main">
  <div class="management DirtyWhite">
    <p class="FontLarge">Account Management</p>
    <div class="context">
      <div [routerLink]="['account_info']" routerLinkActive="active" class="DirtyWhite marginTop">Account information</div>
      <div [routerLink]="['account_security_settings']" routerLinkActive="active" class="DirtyWhite marginTop">Account Security Settings</div>
    </div>
  </div>
  <div class="account-info">
    <router-outlet></router-outlet>
  </div>
</div>



