<div class="Main">
  <div class="management">
    <p class="">Account Management</p>
    <div class="context">
<!--      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">-->
<!--        <mat-button-toggle value="bold">Bold</mat-button-toggle>-->
<!--        <mat-button-toggle value="italic">Italic</mat-button-toggle>-->
<!--        <mat-button-toggle value="underline">Underline</mat-button-toggle>-->
<!--      </mat-button-toggle-group>-->
      <div >Account information</div>
      <div>Account Security Settings</div>
    </div>
  </div>
  <div class="account-info">
    <div class="content-title">Account Information</div>
    <div class="sub-title">Basic Information</div>
    <div class="account-info-container">
      <p class="account-info-item"><span class="account-info-label">Username</span>
        <span class="account-info-value">Cool User Name</span></p>
      <p class="account-info-item">
        <span class="account-info-label">User ID</span> <span class="account-info-value">69674716</span>
      </p>
      <p class="account-info-item">
        <span class="account-info-label">Mobile</span> <span class="account-info-value">069574738</span>
      </p>
      <p class="account-info-item">
        <span class="account-info-label">Email</span> <span class="account-info-value">coolbestemail@gmail.com</span>
      </p>
    </div>
  </div>
  <!--===========================================================================================-->
  <div class="account-info">
    <div class="content-title">Account Information</div>
    <div class="sub-title">Basic Information</div>
    <div class="account-info-container">
      <p class="account-info-item"><span class="account-info-label">Username</span>
        <span class="account-info-value">Cool User Name</span></p>
      <p class="account-info-item">
        <span class="account-info-label">User ID</span> <span class="account-info-value">69674716</span>
      </p>
      <p class="account-info-item">
        <span class="account-info-label">Mobile</span> <span class="account-info-value">069574738</span>
      </p>
      <p class="account-info-item">
        <span class="account-info-label">Email</span> <span class="account-info-value">coolbestemail@gmail.com</span>
      </p>
    </div>
  </div>
  <!--  ===========================================================================================================-->


</div>



