.Main {
  display: flex;
  /*justify-content: space-around;*/
  /*background-color: #1f1c25;*/
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 1%;

}
.a{
}
.active{
  color: black;
}
/*.a{*/
/*  color:royalblue;*/
/*  text-decoration: none;*/
/*}*/
.management {
  width: 25%;
  background-color: #1f1c25;
  padding: 2% 0px 2% 2%;

}

.context {
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  flex-direction: column;
  padding-left: 3%;

}
.contex a{
  color: white;
}


.account-info {
  background-color: #1f1c25;
  width: 75%;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  padding: 2%;

}

.content-title {
  padding: 0px 0px 24px 0px;
}

.sub-title {
  margin: 3% 0px;

}

.account-info-container {
  padding: 0px 0px 0px 10%;
  display: flex;
  flex-direction: column;

  /*width: 50%;*/
}

.account-info-label {
  width: 40%;
}

.account-info-value {
  margin-left: 10%;
  width: 40%;
}
