<!--<div class="login-dark">-->
<!--  <form [formGroup]="registrationForm" (submit)="postDataForRegistration()">-->

<!--    <div-->
<!--      [ngClass]="(registrationForm.controls.username.invalid) ? 'error' : 'form-group' ">-->
<!--      <label for="username"> UserName </label>-->
<!--      <br/>-->
<!--      <input id="username" class="form-control" type="text" formControlName="username"-->
<!--             placeholder="UserName">-->
<!--    </div>-->

<!--    <br/>-->


<!--    <div-->
<!--      [ngClass]="(registrationForm.controls.email.invalid) ? 'error' : 'form-group' ">-->
<!--      <label for="email"> Email </label>-->
<!--      <br/>-->
<!--      <input id="email" class="form-control" type="email" formControlName="email" placeholder=" Email">-->
<!--    </div>-->

<!--    <br/>-->

<!--    <div-->
<!--        [ngClass]="(registrationForm.controls.password.invalid) ? 'error' : 'form-group' ">-->
<!--      <label for="password"> Password </label>-->
<!--      <br/>-->
<!--      <input id="password" class="form-control" type="password" formControlName="password" placeholder="Password">-->
<!--    </div>-->

<!--    <br/>-->

<!--    <div-->
<!--      [ngClass]="registrationForm.controls.password.touched && (registrationForm.controls.password.value != registrationForm.controls.rPassword.value-->
<!--              || registrationForm.controls.password.invalid || registrationForm.controls.rPassword .invalid) ? 'error' : 'form-group' ">-->

<!--    <label for="rPassword">Repeat password </label>-->
<!--      <br/>-->
<!--      <input id="rPassword" class="form-control" type="password" formControlName="rPassword"-->
<!--             placeholder="Repeat password">-->
<!--    </div>-->


<!--    <br/>-->
<!--    <div class="form-group">-->
<!--      <button [disabled]="registrationForm.invalid " class="btn btn-primary btn-block" type="submit">Sign Up</button>-->
<!--    </div>-->
<!--    <br/>-->
<!--    <a (click)="navigate()" class="forgot cursor">Forgot your email or password?</a>-->


<!--  </form>-->
  <div id="register">
<!--    <div class="image">-->
<!--    </div>-->
    <div>
      <form action="" class="ui-form"  [formGroup]="registrationForm" (submit)="postDataForRegistration()">
        <h3 color="#54c3b7">Join to SmartSub</h3>
        <div class="form-row" [ngClass]="(registrationForm.controls.username.invalid) ? 'error' : 'form-group' ">
          <input type="text" id="username" required autocomplete="off" class="form-control" formControlName="username"><label color="#ffffff" for="username">Username</label>
        </div>
        <div class="form-row" [ngClass]="(registrationForm.controls.email.invalid) ? 'error' : 'form-group' ">
          <input type="text" id="email" required autocomplete="off" class="form-control" formControlName="email"><label for="email">Email</label>
        </div>
        <div class="form-row" [ngClass]="(registrationForm.controls.password.invalid) ? 'error' : 'form-group' ">
          <input type="password" id="password" required autocomplete="off" class="form-control" formControlName="password"><label for="password">Password</label>
        </div>
        <div class="form-row" [ngClass]="registrationForm.controls.password.touched && (registrationForm.controls.password.value != registrationForm.controls.rPassword.value
              || registrationForm.controls.password.invalid || registrationForm.controls.rPassword .invalid) ? 'error' : 'form-group' ">
          <input type="password" id="repeatPassword" required autocomplete="off"><label for="repeatPassword">Repeat
          Password</label>
        </div>
        <p><input type="submit" value="Join"></p>
      </form>
    </div>
  </div>
<!--</div>-->
