
.image{
  border: 2px Solid #2db7b8;
}
/*.img{*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/
 span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.AdsWidjets {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}


.BotsLabel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  padding-left: 10px;
  width: 49%;
  height: 110px;
  background: #2e2d39;
  z-index: 1;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.wrap {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.checked {
  color: #54c3b7;
}

.rating {
  display: flex;
  justify-content: center;
  flex-direction: row;
}


.mat-tabs-main{
  color: white;
  background-color: #1f1c25;
}

.FilBlockMain{
  display: block;
  margin-bottom: 2%;
  margin-left: 1%;
}
.FilBlockPosition{
  position: sticky;
  width: 90%;
  top: 0;
  overflow: visible
}
.FilBotBlock{
  width: 100%;
  display: flex;
  justify-content: space-around;
  /*flex-direction: row;*/
  flex-wrap: wrap;
}
.mat-flex{
  display: flex;
  margin: 0 1%;
}
.Button-display{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.price{
font-size: 30px;
  padding-top: 10px;
}







