
.main{
display: flex;
  justify-content: flex-end;
  /*background: #cd7070;*/
}
.main .main-auth{
  margin: 20px;
  font-size: 20px;
  font-style: oblique;
  color: white;
  /*background: black;*/
  /*align-items: flex-end;*/


}
h1 {
  color: #54c3b7;
}

#header {
  display: flex;
  justify-content: space-between;
  color: #e6f4fd;
}

.headerButtons {
  display: flex;
  justify-content: space-around;
}

.buttonHead {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  width: 170px;
  margin-left: 20px;
  margin-right: 20px;
}

.buttonHead1 {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 54px;
  width: 170px;
  margin-left: 20px;
  margin-right: 20px;
}

.LandingButton {
  margin-top: 30px;
  height: 60px;
  width: 270px;
  background-color: #54c3b7;
  border: 2px solid #e6f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.land {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 720px;
  height: 100%;
}

.landpud {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: space-between;*/
  /*align-content: space-between;*/
}
.image{
  border: 2px Solid #2db7b8;
}
/*.img{*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/
 span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.AdsWidjets {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.MenuCategories {
  background-color: #1f1c25;

}

.Categories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #2e2d39;
  /*margin-right: 40px;*/
  /*margin-left: 40px;*/
}

.Elemen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 200px;
  font-size: 20px;
}

.men {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.BlockBots {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 75%;
  min-height: 200px;
  background-color: #201c25;
}

.BotsLabel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  padding-left: 10px;
  width: 49%;
  height: 110px;
  background: #2e2d39;
  z-index: 1;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.wrap {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filters {
  margin-top: 10px;
  width: 20%;
  min-height: 200px;
  height: 100%;
  background-color: #2e2d39;
  position: sticky;
  /*z-index: 1;*/
  top: 60%;
  right: 10px;
  /*overflow-x: hidden;*/

}

.filtersBlock {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 20px;
  color: #70cdc3;
}

.margin {

  margin-left: 18px;
  margin-right: 18px;
}
.Price{
  width: 20%;
  color: #70cdc3;
  font-size: larger;
}
.checked {
  color: #54c3b7;
}

.rating {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

/*.BuyBttn {*/
/*  background-color: #ddd;*/
/*  border: none;*/
/*  color: black;*/
/*  padding: 16px 32px;*/
/*  text-align: center;*/
/*  font-size: 16px;*/
/*  margin: 4px 2px;*/
/*  transition: 0.3s;*/

/*}*/

/*.BuyBttn:hover {*/
/*  background-color: #70cdc3;*/
/*}*/

.mat-tab-group {
  margin-bottom: 48px;
  color: #70cdc3;
}
.mat-tabs-main{
  color: white;
  background-color: #1f1c25;
}
.First{
  display: flex;
  justify-content: space-around;
}
.FilBlock{
  text-align: center;
  /*flex-direction: row;*/
  padding: 2% 0 5% 0;
  margin-bottom: 5%;
  background-color: #2e2d39;
}
.labelFil{
  text-align: left;
  padding: 2% 0 3% 10%;
}

.SortBlock{
  text-align: center;
  /*flex-direction: row;*/
  padding-top: 10px;
  background-color: #2e2d39;
  margin-bottom: 3%;
  color: #cecece;
}
.FilBlockMain{
  display: block;
  margin-bottom: 2%;
  margin-left: 1%;
}
.FilBlockPosition{
  position: sticky;
  width: 90%;
  top: 0;
  overflow: visible
}
.FilBotBlock{
  width: 100%;
  display: flex;
  justify-content: space-around;
  /*flex-direction: row;*/
  flex-wrap: wrap;
}
.mat-flex{
  display: flex;
}
mat-form-field.mat-form-field {
  font-size: 12px;
}
.

.labelFil{
  text-align: left;
  margin-left: 10%;
  color: white
}



::ng-deep .custom-slider .ng5-slider .ng5-slider-bar {
  background: #ffe4d1;
  height: 2px;
}
/*Колір шкали*/
::ng-deep  .custom-slider .ng5-slider .ng5-slider-selection {
  background: orange;
}

/*Повзунки*/
::ng-deep  .custom-slider .ng5-slider .ng5-slider-pointer {
  width: 8px;
  height: 16px;
  top: auto; /* to remove the default positioning */
  bottom: 0;
  background-color: #333333;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
::ng-deep .custom-slider .ng5-slider .ng5-slider-pointer:after {
  display: none;
}

/*Всі цифри */
::ng-deep .custom-slider .ng5-slider .ng5-slider-bubble {
  bottom: 14px;
}
/*Перше та останнє число*/
::ng-deep .custom-slider .ng5-slider .ng5-slider-limit {
  font-weight: bold;
  color: #ffffff !important;
}
/*Поділка*/
::ng-deep .custom-slider .ng5-slider .ng5-slider-tick {
  width: 1px;
  height: 10px;
  margin-left: 4px;
  border-radius: 0;
  background: #ffe4d1;
  top: -1px;
}
/*Колір поділок шкали*/
::ng-deep .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
  background: #f6f6f6;
}
.DirtyWhite {
  color: #dcdcdc;
  z-index: 100;
}

.custom-slider{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.custom-slider .style{
  width: 80%;
}
.custom-slider .price{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
}
.custom-slider input{

  border-radius: 10%;
  height: 25px;
  width: 15%;
}

.custom-slider h6{
  margin-top: 5px;
  color: white;
  font-weight: 600;
  font-size: 14px;
}

.example-section {
  text-align: left;
  margin: 12px 0 12px 12px;
  color: #cecece;


}

.example-margin {
  margin: 0 12px;
}
.example-list-section{
  display: block;
}

ul {
  list-style-type: none;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  margin-bottom: 0;
}

.mat-raised-button{
  background: #1f1c25;
  color: white;
  font-size: 12px;
  height: 30px;
  padding: 0;
}

h3{
  color: white;
  margin: 0;
  padding: 2% 0 3% 0
}
