.main{
display: flex;
  justify-content: flex-end;
  /*background: #cd7070;*/
}
.main .main-auth{
  margin: 20px;
  font-size: 20px;
  font-style: oblique;
  color: white;
  /*background: black;*/
  /*align-items: flex-end;*/


}
h1 {
  color: #54c3b7;
}




#header {
  display: flex;
  justify-content: space-between;
  color: #e6f4fd;
}

.headerButtons {
  display: flex;
  justify-content: space-around;
}

.buttonHead {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  width: 170px;
  margin-left: 20px;
  margin-right: 20px;
}

.buttonHead1 {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 54px;
  width: 170px;
  margin-left: 20px;
  margin-right: 20px;
}

.LandingButton {
  margin-top: 30px;
  height: 60px;
  width: 270px;
  background-color: #54c3b7;
  border: 2px solid #e6f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.land {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 720px;
  height: 100%;
}

.landpud {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: space-between;*/
  /*align-content: space-between;*/
}

/*.img{*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/
span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*width: 100%;*/
  /*margin-right: 30px;*/
  /*margin-left: 30px;*/
  /*min-height: 40px;*/
  /*height: 10%;*/

}

.MenuElement1 {
  display: flex;
  flex-direction: row;
  justify-content:  flex-start;
  width: 100%;
  /*background-color: #70c;*/
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 10px;
}
.Logo{
  display: flex;
  justify-content: center;
  align-items: center;

}

.MenuElement2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /*background-color: #9d959d;*/

}


.SearchElement {
  width: 80%;
  /*background-color: orange;*/
  font-size: 24px;
  margin-right: 10px;
  color: #70cdc3;


}

.Bell {
  display: flex;
  width: 80px;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.Cart {
  display: flex;
  width: 80px;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.Join {
  display: flex;
  width: 200px;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.AdsWidjets {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.MenuCategories {
  background-color: #1f1c25;

}

.Categories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #2e2d39;
  /*margin-right: 40px;*/
  /*margin-left: 40px;*/
}

.Elemen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 200px;
  font-size: 20px;
}

.men {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.BlockBots {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 75%;
  min-height: 200px;
  background-color: #201c25;
}

.BotsLabel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  width: 49%;
  height: 110px;
  background-color: #2e2d39;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.wrap {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filters {
  margin-top: 10px;
  width: 20%;
  min-height: 200px;
  height: 100%;
  background-color: #2e2d39;
  position: sticky;
  /*z-index: 1;*/
  top: 60%;
  right: 10px;
  /*overflow-x: hidden;*/

}

.filtersBlock {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 20px;
  color: #70cdc3;
}

.margin {

  margin-left: 18px;
  margin-right: 18px;
}

.checked {
  color: #54c3b7;
}

.rating {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.BuyBttn {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;

}

.BuyBttn:hover {
  background-color: #70cdc3;
}

.mat-tab-group {
  margin-bottom: 48px;
  color: #70cdc3;
}
.mat-tabs-main{
  color: white;
  background-color: #1f1c25;
  min-height: 100%;
}
.First{
  display: flex;
  justify-content: space-around;
}
.FilBlock{
  display: flex;
  justify-content: center;
  align-items: center;
  /*flex-direction: row;*/
  margin-top: 10px;
  width: 20%;
  min-height: 200px;
  height: 100%;
  background-color: #2e2d39;
  position: sticky;

}
.FilBotBlock{
  display: flex;
  justify-content: space-around;
  /*flex-direction: row;*/
  flex-wrap: wrap;
}
