<div class="AdsWidjets">
  <div class="widget">
    <img src="assets/Images/BotIcon144HW.png" class="image">
    <div class="overlay">Title</div>
  </div>
  <div>
    <img src="assets/Images/BotIcon144HW.png" class="image">
  </div>
  <div>
    <img src="assets/Images/BotIcon144HW.png" class="image">
  </div>
  <div>
    <img src="assets/Images/BotIcon144HW.png" class="image">
  </div>
  <div>
    <img src="assets/Images/BotIcon144HW.png" class="image">
  </div>
  <div>
    <img src="assets/Images/BotIcon144HW.png" class="image">
  </div>
  <div>
    <img src="assets/Images/BotIcon144HW.png" class="image">
  </div>

</div>


<!--Категорії підписок-->
<div class="mat-flex">

  <mat-tab-group mat-align-tabs="center" animationDuration="1000ms" class="mat-tabs-main"
                 style="margin-bottom: 1%;margin-left: 1%; width: 81% ">
    <mat-tab label="Всі">
      <div class="First">
        <div class="FilBotBlock">

          <div class="BotsLabel" *ngFor="let bot of bots | keyvalue " (click)="navigate('product/'+bot.key)">
            <img src="assets/Images/BotIcon54HW.png">
            <div class="wrap">
              <div class="flex">
                <p>{{bot.key}}</p>
                <div class="rating">
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>0}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>1}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>2}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>3}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>4}"> </span>

                </div>
              </div>
              <p>Тут опис в пару слів про функціонал ось не буду багато писати</p>
            </div>
            <div class="sliding-button" style="z-index: 1">
              <a> <span style="z-index: 2; font-weight: 600">BYU</span></a>
            </div>
          </div>

        </div>
      </div>
    </mat-tab>
    <mat-tab label="Фільми">
      <div class="First">
        <div class="FilBotBlock">

          <div class="BotsLabel" *ngFor="let bot of bots | keyvalue " (click)="navigate('product/'+bot.key)">
            <img src="assets/Images/BotIcon54HW.png">
            <div class="wrap">
              <div class="flex">
                <p>{{bot.key}}</p>
                <div class="rating">
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>0}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>1}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>2}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>3}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>4}"> </span>

                </div>
              </div>
              <p>Тут опис в пару слів про функціонал ось не буду багато писати</p>
            </div>
            <div class="sliding-button" style="z-index: 1">
              <a> <span style="z-index: 2; font-weight: 600">BYU</span></a>
            </div>
          </div>

        </div>
      </div>
    </mat-tab>
    <mat-tab label="Музика">
      <div class="First">
        <div class="FilBotBlock">

          <div class="BotsLabel" *ngFor="let bot of bots | keyvalue " (click)="navigate('product/'+bot.key)">
            <img src="assets/Images/BotIcon54HW.png">
            <div class="wrap">
              <div class="flex">
                <p>{{bot.key}}</p>
                <div class="rating">
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>0}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>1}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>2}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>3}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>4}"> </span>

                </div>
              </div>
              <p>Тут опис в пару слів про функціонал ось не буду багато писати</p>
            </div>
            <div class="sliding-button" style="z-index: 1">
              <a> <span style="z-index: 2; font-weight: 600">BYU</span></a>
            </div>
          </div>

        </div>
      </div>
    </mat-tab>
    <mat-tab label="Розваги">
      <div class="First">
        <div class="FilBotBlock">

          <div class="BotsLabel" *ngFor="let bot of bots | keyvalue " (click)="navigate('product/'+bot.key)">
            <img src="assets/Images/BotIcon54HW.png">
            <div class="wrap">
              <div class="flex">
                <p>{{bot.key}}</p>
                <div class="rating">
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>0}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>1}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>2}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>3}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>4}"> </span>

                </div>
              </div>
              <p>Тут опис в пару слів про функціонал ось не буду багато писати</p>
            </div>
            <div class="sliding-button" style="z-index: 1">
              <a> <span style="z-index: 2; font-weight: 600">BYU</span></a>
            </div>
          </div>

        </div>
      </div>
    </mat-tab>
    <mat-tab label="Бізнес">
      <div class="First">
        <div class="FilBotBlock">

          <div class="BotsLabel" *ngFor="let bot of bots | keyvalue " (click)="navigate('product/'+bot.key)">
            <img src="assets/Images/BotIcon54HW.png">
            <div class="wrap">
              <div class="flex">
                <p>{{bot.key}}</p>
                <div class="rating">
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>0}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>1}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>2}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>3}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>4}"> </span>

                </div>
              </div>
              <p>Тут опис в пару слів про функціонал ось не буду багато писати</p>
            </div>
            <div class="sliding-button" style="z-index: 1">
              <a> <span style="z-index: 2; font-weight: 600">BYU</span></a>
            </div>
          </div>

        </div>
      </div>
    </mat-tab>
    <mat-tab label="Спорт та Фітнес">
      <div class="First">
        <div class="FilBotBlock">

          <div class="BotsLabel" *ngFor="let bot of bots | keyvalue " (click)="navigate('product/'+bot.key)">
            <img src="assets/Images/BotIcon54HW.png">
            <div class="wrap">
              <div class="flex">
                <p>{{bot.key}}</p>
                <div class="rating">
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>0}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>1}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>2}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>3}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>4}"> </span>

                </div>
              </div>
              <p>Тут опис в пару слів про функціонал ось не буду багато писати</p>
            </div>
            <div class="sliding-button" style="z-index: 1">
              <a> <span style="z-index: 2; font-weight: 600">BYU</span></a>
            </div>
          </div>

        </div>
      </div>
    </mat-tab>
    <mat-tab label="Інше">
      <div class="First">
        <div class="FilBotBlock">

          <div class="BotsLabel" *ngFor="let bot of bots | keyvalue " (click)="navigate('product/'+bot.key)">
            <img src="assets/Images/BotIcon54HW.png">
            <div class="wrap">
              <div class="flex">
                <p>{{bot.key}}</p>
                <div class="rating">
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>0}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>1}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>2}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>3}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>4}"> </span>

                </div>
              </div>
              <p>Тут опис в пару слів про функціонал ось не буду багато писати</p>
            </div>
            <div class="sliding-button" style="z-index: 1">
              <a> <span style="z-index: 2; font-weight: 600">BYU</span></a>
            </div>
          </div>

        </div>
      </div>
    </mat-tab>


  </mat-tab-group>
  <div class="FilBlockMain">
    <div class="FilBlockPosition">

      <!--    todo Sort-->
      <div class="SortBlock">
        <h3 style="color: white">Сотування підписок</h3>
        <!--          ================================================-->
        <mat-form-field appearance="fill">
          <mat-label style="color: #cecece">Виберіть тип сортування</mat-label>
          <mat-select>
            <mat-option>None</mat-option>
            <mat-option *ngFor="let sort of sorts" [value]="sort">{{sort}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!--todo Filter-->
      <div class="FilBlock">
        <h3 style="color: white">Фільтир підписок</h3>
        <!--          ================================================-->

        <div class="labelFil">Жанри</div>
        <section class="example-section">
            <span class="example-list-section">
    <mat-checkbox class="example-margin"
                  [checked]="allComplete"
                  [color]="task.color"
                  [indeterminate]="someComplete()"
                  (change)="setAll($event.checked)"
    >
      {{task.name}}
    </mat-checkbox>
  </span>

          <span class="example-list-section">
    <ul>
      <li *ngFor="let subtask of task.subtasks">
        <mat-checkbox [(ngModel)]="subtask.completed"
                      [color]="subtask.color"
                      (ngModelChange)="updateAllComplete()">
          {{subtask.name}}
        </mat-checkbox>
      </li>
    </ul>
  </span>
        </section>
        <!--        Шкала ціни-->
        <div class="labelFil">Ціна</div>
        <div class="custom-slider">
          <div class="style">
            <ng5-slider [(value)]="priceValue" [(highValue)]="priceHighValue" [options]="options"></ng5-slider>
          </div>
          <div class="price">
            <input type="number" placeholder="min" value="{{priceValue}}" [(ngModel)]="priceValue">
            <input type="number" placeholder="max" value="{{priceHighValue}}" [(ngModel)]="priceHighValue">
            <button mat-raised-button class="mat-raised-button">OK</button>
          </div>
        </div>

        <div class="labelFil">Рейтинг</div>
        <div class="custom-slider">
          <div class="style">
            <ng5-slider [(value)]="ratingValue" [(highValue)]="ratingHighValue" [options]="optionsRating"></ng5-slider>
          </div>
          <div class="price">
            <input type="number" placeholder="min" value="{{ratingValue}}" [(ngModel)]="ratingValue">
            <input type="number" placeholder="max" value="{{ratingHighValue}}" [(ngModel)]="ratingHighValue">
            <button mat-raised-button style="background: #1f1c25; color: white">OK</button>
          </div>
        </div>
        <!--          =======================================================-->
      </div>
    </div>
  </div>
</div>
