<div class="AdsWidjets">
  <div class="widget">
    <img src="assets/Images/BotIcon144HW.png" class="image">
    <div class="overlay">Title</div>
  </div>
  <div>
    <img src="assets/Images/BotIcon144HW.png" class="image">
  </div>
  <div>
    <img src="assets/Images/BotIcon144HW.png" class="image">
  </div>
  <div>
    <img src="assets/Images/BotIcon144HW.png" class="image">
  </div>
  <div>
    <img src="assets/Images/BotIcon144HW.png" class="image">
  </div>
  <div>
    <img src="assets/Images/BotIcon144HW.png" class="image">
  </div>
  <div>
    <img src="assets/Images/BotIcon144HW.png" class="image">
  </div>

</div>


<!--Категорії підписок-->
<div class="mat-flex">

  <mat-tab-group mat-align-tabs="center" animationDuration="1000ms" class="mat-tabs-main"
                 style="margin-bottom: 1%; width: 81% ">
    <mat-tab label="Всі">
      <div class="First">
        <div class="FilBotBlock">
          <div class="BotsLabel" *ngFor="let bot of bots | keyvalue " (click)="navigate('product/'+bot.key)">
            <img src="assets/Images/BotIcon54HW.png">
            <div class="wrap">
              <div class="flex">
                <p (click)="navigate('product/'+bot.key)">{{bot.key}}</p>
                <div class="rating">
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>0}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>1}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>2}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>3}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>4}"> </span>

                </div>
              </div>
              <p>Тут опис в пару слів про функціонал ось не буду багато писати</p>
            </div>
            <div class="Button-display">
              <div class="price">${{bot.value}}</div>
              <button class="sliding-button" style="z-index: 1;text-align: center; font-size: 17px">BYU</button>
            </div>
          </div>

        </div>
      </div>
    </mat-tab>
    <mat-tab label="Фільми">
      <div class="First">
        <div class="FilBotBlock">

          <div class="BotsLabel" *ngFor="let bot of bots | keyvalue " (click)="navigate('product/'+bot.key)">
            <img src="assets/Images/BotIcon54HW.png">
            <div class="wrap">
              <div class="flex">
                <p>{{bot.key}}</p>
                <div class="rating">
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>0}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>1}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>2}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>3}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>4}"> </span>

                </div>
              </div>
              <p>Тут опис в пару слів про функціонал ось не буду багато писати</p>
            </div>
            <div class="sliding-button" style="z-index: 1">
              <a> <span style="z-index: 2; font-weight: 600">BYU</span></a>
            </div>
          </div>

        </div>
      </div>
    </mat-tab>
    <mat-tab label="Музика">
      <div class="First">
        <div class="FilBotBlock">

          <div class="BotsLabel" *ngFor="let bot of bots | keyvalue " (click)="navigate('product/'+bot.key)">
            <img src="assets/Images/BotIcon54HW.png">
            <div class="wrap">
              <div class="flex">
                <p>{{bot.key}}</p>
                <div class="rating">
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>0}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>1}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>2}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>3}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>4}"> </span>

                </div>
              </div>
              <p>Тут опис в пару слів про функціонал ось не буду багато писати</p>
            </div>
            <div class="sliding-button" style="z-index: 1">
              <a> <span style="z-index: 2; font-weight: 600">BYU</span></a>
            </div>
          </div>

        </div>
      </div>
    </mat-tab>
    <mat-tab label="Розваги">
      <div class="First">
        <div class="FilBotBlock">

          <div class="BotsLabel" *ngFor="let bot of bots | keyvalue " (click)="navigate('product/'+bot.key)">
            <img src="assets/Images/BotIcon54HW.png">
            <div class="wrap">
              <div class="flex">
                <p>{{bot.key}}</p>
                <div class="rating">
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>0}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>1}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>2}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>3}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>4}"> </span>

                </div>
              </div>
              <p>Тут опис в пару слів про функціонал ось не буду багато писати</p>
            </div>
            <div class="sliding-button" style="z-index: 1">
              <a> <span style="z-index: 2; font-weight: 600">BYU</span></a>
            </div>
          </div>

        </div>
      </div>
    </mat-tab>
    <mat-tab label="Бізнес">
      <div class="First">
        <div class="FilBotBlock">

          <div class="BotsLabel" *ngFor="let bot of bots | keyvalue " (click)="navigate('product/'+bot.key)">
            <img src="assets/Images/BotIcon54HW.png">
            <div class="wrap">
              <div class="flex">
                <p>{{bot.key}}</p>
                <div class="rating">
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>0}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>1}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>2}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>3}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>4}"> </span>

                </div>
              </div>
              <p>Тут опис в пару слів про функціонал ось не буду багато писати</p>
            </div>
            <div class="sliding-button" style="z-index: 1">
              <a> <span style="z-index: 2; font-weight: 600">BYU</span></a>
            </div>
          </div>

        </div>
      </div>
    </mat-tab>
    <mat-tab label="Спорт та Фітнес">
      <div class="First">
        <div class="FilBotBlock">

          <div class="BotsLabel" *ngFor="let bot of bots | keyvalue " (click)="navigate('product/'+bot.key)">
            <img src="assets/Images/BotIcon54HW.png">
            <div class="wrap">
              <div class="flex">
                <p>{{bot.key}}</p>
                <div class="rating">
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>0}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>1}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>2}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>3}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>4}"> </span>

                </div>
              </div>
              <p>Тут опис в пару слів про функціонал ось не буду багато писати</p>
            </div>
            <div class="sliding-button" style="z-index: 1">
              <a> <span style="z-index: 2; font-weight: 600">BYU</span></a>
            </div>
          </div>

        </div>
      </div>
    </mat-tab>
    <mat-tab label="Інше">
      <div class="First">
        <div class="FilBotBlock">

          <div class="BotsLabel" *ngFor="let bot of bots | keyvalue " (click)="navigate('product/'+bot.key)">
            <img src="assets/Images/BotIcon54HW.png">
            <div class="wrap">
              <div class="flex">
                <p>{{bot.key}}</p>
                <div class="rating">
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>0}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>1}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>2}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>3}"> </span>
                  <span class="fa fa-star" [ngClass]="{'fa fa-star ':true, 'checked' : bot.value>4}"> </span>

                </div>
              </div>
              <p>Тут опис в пару слів про функціонал ось не буду багато писати</p>
            </div>
            <div class="sliding-button" style="z-index: 1">
              <a> <span style="z-index: 2; font-weight: 600">BYU</span></a>
            </div>
          </div>

        </div>
      </div>
    </mat-tab>


  </mat-tab-group>

  <div class="FilBlockMain">
    <div class="FilBlockPosition">
    <app-filter></app-filter>
      </div>
  </div>
</div>
