<!--<div class="main">-->

<!--</div>-->
<!--Тут починається менюшка -->
<div class="Menu">
  <!--  сам класс меню в якому все знаходиться-->
  <div class="MenuElement1">
    <div class="Logo">
      <!--      всі картинки зберігаються в асетах -->
      <img src="assets/Images/LOGO1.png">

    </div>
    <input class="SearchElement" type="text" placeholder="Search...">
    <!--  <label color="#ffffff" for="username">Username</label>-->
  </div>
  <div class="MenuElement2">
    <div class="Bell">
      <img src="assets/Images/Bell.png">
    </div>
    <div class="Cart">
      <img src="assets/Images/Cart.png">
    </div>
    <div class="main-auth">
      <a (click)="navigate('login')">Login</a>
      <span> / </span>
      <a (click)="navigate('registration')">Register</a>
    </div>
<!--    <div class="Join"><a>Join</a>-->
<!--      <p> | </p><a>Login</a></div>-->
  </div>
</div>
<!--кінець меню-->
