/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("src/References/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #272631;
  height: 100%;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-tab-label{
  min-width: 150px !important;
  /*max-width: 10% !important;*/
  /*min-width: 10% !important;*/
  color: white !important;
}

mat-tab-label{
  min-width: 150px !important;
  /*max-width: 10% !important;*/
  /*min-width: 10% !important;*/
  color: white !important;
}

.sliding-button {
  text-decoration: none;
  text-align: center;
  color: white;
  display: inline-block;
  position: relative;
  padding: 13px 18px;
  border: 1px solid;
  border-image: linear-gradient(180deg, #3bc9ba, #2db7b8, #1494b4, #007ab1);
  border-image-slice: 1;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  background: none;
  letter-spacing: 2px;
  transition: .8s cubic-bezier(.165, .84, .44, 1);
  z-index: 2;
}

.sliding-button:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  color: white;
  background-color: #3bc9ba ;
  transition: .8s cubic-bezier(.165, .84, .44, 1);

}

.sliding-button:hover {
  background: rgba(255, 255, 255, 0);
}

.sliding-button:hover:before {
  content: "";
  color: black;
  bottom: 0%;
  top: auto;
  height: 100%;

}

.FontLarge {
  font-size: large;
}
.FontMedium{
  font-size: medium;
}
.FontSmall{
  font-size: small;
}

.FontXXLarge {
  font-size: xx-large;
}

.FontLarger {
  font-size: larger;
}

.Blue {
  color: #3bc9ba;
}
.example-list-section label{margin-bottom:0}
